
.vs/

src/applications/Telligent.Consumer.Identity.Server/obj/

src/modules/Telligent.Consumer.Identity.Application/obj/

src/modules/Telligent.Consumer.Identity.Database/obj/

src/modules/Telligent.Consumer.Identity.Domain/obj/

src/applications/Telligent.Consumer.Identity.Server/bin/

src/modules/Telligent.Consumer.Identity.Application/bin/

src/modules/Telligent.Consumer.Identity.Database/bin/

src/modules/Telligent.Consumer.Identity.Domain/bin/

src/applications/Telligent.Consumer.Identity.Server/logs/
